* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  position: relative;
  height: min-content;
}
html {
  font-family: "Roboto", "Noto", sans-serif;
}
/* navigation bar */
nav {
  color: rgba(221, 210, 210, 0.9);
  padding: 1rem 0;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-icon {
  height: 3vh;
  margin: 0 0.6rem;
}
.nav-icon:nth-child(1) {
  margin-left: 1.8rem;
}
.nav-icon:nth-child(3) {
  margin-right: 1.8rem;
}
.shop-text {
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: black;
}
.cart-items{
  /* border: 1px solid black; */
  margin: 0 auto;
 
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start ;
  line-height: 5rem;
  padding: 0 1rem;
}
.cart-items img {
  width: 72px;
}
.sub-container .checkout {
  position: fixed;
  font-size: medium;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  background-color: #172c50;
  color: #ffffff;
}
.sub-container a{
  text-decoration: none;
  color: #ffffff;
}
.sub-container {
  display: flex;
  width: 80%;
  flex-direction: column;
 margin: 0;
  justify-content: center;
}
.sub-section:nth-child(2){
  display: flex;
  width: 15%;
}
.cart-items {
  display: flex;
  position: relative;
  width: 100%;
  margin: 2rem 0 0 0;
}
.cart-details {
  line-height: 1.7rem;
  width: 100%;
  font-size: small;
  text-align: center;
}
.cart-details > span {
  color: #757575;
}
.product-details {
  line-height: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #202020;
  font-size: small;
}
.text-cancel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  width: 100%;
}
.text-cancel .name {
  position: absolute;
  align-self: center;
  top: 0;
}
.text-cancel > img {
  width: 6%;
  height: 4vh;
  position: absolute;
  right: 0;
  top: 0;
}
.quantity {
  display: flex;
  gap: 2rem;
  justify-self: end;
  /* width: 60%; */
  position: absolute;
  bottom: 0;
  right: 0;
  top: 2.5rem;
}
.total {
  display: flex;
  align-self: end;
  font-size: 0.9rem;
  font-weight: 600;
}
.total > .price {
  margin-left: 1rem;
}
/* footer section */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 85%;
  text-align: center;
  margin-top: 1rem;
  line-height: 1.5rem;
  visibility: hidden;
}
.footer-details {
  color: #757575;
}
.footer-details:nth-child(1) {
  font-size: 1rem;
}
/*button footer*/
.footer-details:nth-child(2) {
  font-size: 0.8rem;
  background-color: black;
  width: 7.5rem;
  height: 2.5rem;
  padding: 0.4rem 1rem;
  color: white;
  margin: 0.5rem 0 0 0;
}
@media (min-width: 768px) {
  .nav-icon:nth-child(1) {
    margin-left: 1.8rem;
    visibility: hidden;
  }
  nav{
    padding: 0 0;
  }
  .container {
    width: 100%;
    height: 100vh;
    line-height: 5rem;
    padding: 0 0;
  }
  .total {
    /* border: 2px solid red; */
    text-align: center;
    width: 60%;
    height: 4rem;
    gap: 1rem;
  }
  .quantity {
    top: 0;
    width: 10%;
    align-items: center;
    left: 45%;
    gap: 60%;
  }
  .sub-container {
    margin: 5rem auto;
    max-width: 970px;
    width: 90%;
  }
  .sub-container .checkout {
    position: static;
    padding: 0 2rem;
    background-color: #ffffff;
    color: #202020;
    margin: 1rem 0 0 2rem;
  }
  .sub-container a{
    color: black;
  }
  .sub-section {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 28%;
  }
  .sub-section:nth-child(2) {
    width: 100%;
  }
  .product-details {
    line-height: 1rem;
    width: 100%;
    color: #202020;
    font-size: small;
  }
  .text-cancel {
    flex-wrap: unset;
  }
  .text-cancel .name {
    position: unset;
    align-self: center;
    margin-left: 5%;
  }
  .text-cancel > img {
    width: 3rem;
    height: 3rem;
    top: 0.6rem;
  }
  footer {
    font-size: 2vw;
    gap: 15%;
    height: 7vh;
    visibility: visible;
  }
  .footer-details {
    font-size: 0.9rem;
    color: #757575;
  }
  footer button {
    height: 5vh;
    width: 10%;
    color: #ffffff;
    background-color: #000000;
  }
}
