* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  position: relative;
  height: min-content;
}
html {
  font-family: "Roboto", "Noto", sans-serif;
}
/* navigation bar */
nav {
  color: rgba(221, 210, 210, 0.9);
  padding: 1em 0;
}
.icons {
  margin: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-icon {
  height: 3vh;
  margin: 0 0.6rem;
}
.nav-icon:nth-child(1) {
  margin-left: 1.8rem;
}
.nav-icon:nth-child(3) {
  margin-right: 1.8rem;
}
.shop-text {
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: black;
}
.container {
  padding: 0 1rem;
}
.header {
  text-align: center;
  height: 6vh;
  line-height: 1.6rem;
}
.checkout {
  font-size: 0.9rem;
}
.header > p {
  font-size: 0.8rem;
  color: #757575;
}
.upper-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
}
.lower-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 0 0;
}
.info {
  margin: 1.2em 0 0 0;
  font-size: 0.8rem;
}
.trans {
  position: relative;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trans input {
  border: 0;
  border-bottom: 1px solid #757575;
  outline: none;
}
.trans label {
  position: absolute;
  left: 0;
  color: #757575;
  font-size: 1rem;
}
.trans input:focus + label {
  font-size: 0.5rem;
  top: -1rem;
}
.sub-address {
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.state {
  width: 45%;
}
.zip-code {
  width: 45%;
}
.country-info {
  display: flex;
  flex-direction: column;
}
.country-info select {
  border: 2px solid red;
  height: 4vh;
  border: none;
  outline: none;
  border-bottom: 2px solid #757575;
  background: #ffffff;
}
.billing-info > h3 {
  margin: 1rem 0 1rem 0;
}
.billing-info > label {
  margin: 0 0 0 1rem;
}
.billing-info > input {
  width: 1rem;
  height: 1rem;
}
.card-info {
  display: flex;
  flex-direction: column;
}
.expiry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 19px;
}
.card-expiry {
  width: 33%;
  display: flex;
  flex-direction: column;
}
#exp-month {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #ffffff;
  border-bottom: 1px solid #757575;
}
#exp-year {
  width: 33.333%;
  border: 0;
  outline: none;
  background-color: #ffffff;
  border-bottom: 1px solid #757575;
}
.cvv {
  width: 33.333%;
}
.product-summary {
  margin-top: 1rem;
  flex-direction: row;
  justify-content: space-between;
}
.total-amount {
  flex-direction: row;
  justify-content: space-between;
}
.place-order a {
  text-decoration: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: large;
  background-color: #172c50;
  color: white;
  padding: 1rem;
}
/* footer section */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 85%;
  text-align: center;
  margin-top: 1rem;
  line-height: 1.5rem;
  visibility: hidden;
}
.footer-details {
  color: #757575;
}
.footer-details:nth-child(1) {
  font-size: 1rem;
}
/*button footer*/
.footer-details:nth-child(2) {
  font-size: 0.8rem;
  background-color: black;
  width: 7.5rem;
  height: 2.5rem;
  padding: 0.4rem 1rem;
  color: white;
  margin: 0.5rem 0 0 0;
}
@media (min-width: 768px) {
  .nav-icon:nth-child(1) {
    margin-left: 1.8rem;
    visibility: hidden;
  }
  .container{
    margin: 4rem 0 0 0;
  }
  .upper-lower {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 10%;
  }
  .upper-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
    width: 45%;
  }
  .lower-container {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
    width: 45%;
  }
  .place-order {
    background-color: #ffffff;
    border: 0;
  }
  .place-order a {
    border: 1px solid #000;
    visibility: visible;
    position: unset;
    width: 0%;
    text-decoration: solid;
    font-size: large;
    background-color: #FFFFFF;
    color: #202020;
    padding: 0.4rem 2rem;
    margin: 0 7rem 0 0;
  }
  footer {
    font-size: 2vw;
    gap: 15%;
    visibility: visible;
  }
  .footer-details {
    font-size: 0.9rem;
    color: #757575;
  }
  footer button {
    height: 5vh;
    width: 10%;
    color: #ffffff;
    background-color: #000000;
  }
}
