body {
  font-size: 16px;
}
.html {
  font-family: "Roboto", "Noto", sans-serif;
}
/* navigation bar */
nav {
  color: rgba(221, 210, 210, 0.9);
  padding: 1.4em 0;
}
.icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav-icon {
  height: 2.5vh;
  margin: 0 0.6rem;
}
.nav-icon:nth-child(1) {
  margin-left: 1.8rem;
}
.nav-icon:nth-child(3) {
  margin-right: 1.8rem;
}
.shop-text {
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: black;
}
.tabs {
  visibility: hidden;
  height: 0;
}
.tabs a{
  text-decoration: none;
  color: #000000;
}
/* main section of images and text */
/*outerwear section*/
.category {
  flex-direction: column;
  display: flex;
  line-height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0 0 2rem 0;
}
.category img {
  object-fit: cover;
  height: 15rem;
  width: 100%;
}
.outerwear-txt {
  font-size: 1.2rem;
  font-weight: 400;
}
.shop-now {
  font-size: 1rem;
  padding: 0 2.4rem;
  margin-top: 0.9rem;
  border: 1.8px solid rgb(2, 14, 2);
}
.tshirts {
  max-width: 720px;
}
.category:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.category:nth-child(3) .tshirts {
  margin: 0;
  width: 34rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* tshirt section */
.tshirts > div {
  margin: 0 0 0 10%;
}
.tshirts > button {
  margin: 7% 0 0 8%;
  padding: 0 1.2rem;
  font-size: 1rem;
  border: 2px solid black;
}
.tshirts img {
  object-fit: cover;
  width: 100%;
}
/* footer section */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 85%;
  text-align: center;
}
.footer-details {
  color: grey;
}
.footer-details:nth-child(1) {
  font-size: 1rem;
}
.footer-details:nth-child(2) {
  background-color: black;
  width: 8rem;
  padding: 0.5rem;
  color: white;
  margin: 1rem 0 0 0;
}
@media (min-width: 768px) {
  /*tabs section after navigation bar*/
  .nav-icon:nth-child(1) {
    margin-left: 1.8rem;
    visibility: hidden;
  }
  .tabs {
    height: 8vh;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
    font-size: medium;
  }
  .category img {
    object-fit: cover;
    height: 20rem;
  }
  .category:nth-child(3) .tshirts {
    margin: 0;
    width: 80rem;
  }
  .tshirts > button {
    margin: 3% 0 0 4%;
    padding: 0 2.5rem;
  }
  .tshirts > div {
    margin: 0;
  }
}
