  
  * {
    padding: 0;
    margin: 0;
  }
  body {
    font-size: 16px;
    position: relative;
  }
  html {
    font-family: "Roboto", "Noto", sans-serif;
  }
  /* navigation bar */
  nav {
    color: rgba(221, 210, 210, 0.9);
    padding: 1em 0;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-icon {
    height: 3vh;
    margin: 0 0.6rem;
  }
  .nav-icon:nth-child(1) {
    margin-left: 1.8rem;
    height: 4vh;
    width: 2%;
  }
  .nav-icon:nth-child(3) {
    margin-right: 1.8rem;
  }
  .shop-text {
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: black;
  }
  .tabs {
    visibility: hidden;
    height: 0;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5em;
    margin: 0 0 3rem 0;
}
  .container img{
   width: 85%;
  } 
  .items{
    line-height: 30%;
    margin-bottom: 4.0rem;
    margin-top: 0;
    gap: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 580px;
  }
  .items a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #172C50;
    position: absolute;
    font-size: 1rem;
    width: 100%;
    padding: 1.3rem 0;
    text-align: center;
    bottom: 0;
    left: 0;
  }
  .item{
      font-size: 1.3rem;
      padding: 0.4rem;
      line-height: 2rem;
  }
  .pickers{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 1rem 0;
  }
  .dropdown{
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    border-top: 1px solid #9b9999;
    border-bottom: 1px solid #9b9999;
  }
  .dropdown > label{
    font-size: small;
    color: #757575;
  }
 .dropdown select{
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    height: 7vh;
    margin-left: 1rem;
  }
  .dropdown > #size{
    margin-left: 2.2rem;
    font-size: large;
  }
  .dropdown > #Quantity{
    margin-left: 0.7rem;
    font-size: large;
  }
  .item .prices{
    color: rgb(83, 94, 94);
    font-size: 0.8rem
  }
  .description{
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0 0 1rem 0;
  }
  .features > ul{
    text-align: start;
    margin: 0 0 0 1rem;
  }
  .features p{
    margin: 1rem 0;
  }
  .features li{
    margin-left: 1rem;
  }
  .product-details{
    margin-top: 0;
    color: #757575;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: flex-start;
}
  /* footer section */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 85%;
    margin-top: 2rem;
    visibility: hidden;
  }
  @media (min-width: 768px) {
    
    .nav-icon:nth-child(1) {
      margin-left: 1.8rem;
    }
    .container{
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      padding: 0;
      width: 100%;
      margin: 0 auto;
      max-width: 1216px;
    }
    .container img{
      object-fit: cover;
      visibility: visible;
    }
    .tabs {
      height: 8vh;
      visibility: visible;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 31px;
      font-size: 0.9rem;
    }
    .dropdown{
      height: 8vh;
    }
    .items{
      margin: 0 3rem;
      width: 50rem;
    }
    .item{
      font-size: 1.5rem;
      width: 100%;
    }
    .item .prices{
      color: rgb(83, 94, 94);
      font-size: 1rem;
    }
    .items a{
      color: #202020;
      background-color: #FFFFFF;
      position:static;
      font-size: 1rem;
      width: 40%;
      height: 4.5vh;
      padding: 0;
    }
    footer {
      font-size: 2vw;
      gap: 15%;
      height: 7vh;
      visibility: visible;
      margin-top: 8rem;
    }
    .footer-details{
      font-size: 0.9rem;
      color: #757575;
    }
    footer button{
      height: 5vh;
      width: 10%;
      color: #FFFFFF;
      background-color: #000000;
    }
  }
  