body {
  font-size: 16px;
}
.html {
  font-family: "Roboto", "Noto", sans-serif;
}
/* navigation bar */
nav {
  color: rgba(221, 210, 210, 0.9);
  padding: 1.2em 0;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-icon {
  height: 3.5vh;
  margin: 0 0.6rem;
}
.nav-icon:nth-child(1) {
  margin-left: 1.8rem;
}
.nav-icon:nth-child(3) {
  margin-right: 1.8rem;
}
.shop-text {
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: black;
}
.tabs {
  visibility: hidden;
  height: 0;
}
.container{
  width: 100%;
}
/* main section of images and text */
/*outerwear section*/

.category {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category img {
  width: 100%; 
  visibility: hidden;
  height: 0;
}
.outerwear-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  text-align: center;
}
.outerwear-txt span{
    font-size: 0.8rem;
    color: rgb(83, 94, 94);
}
/* footer section */
.items{
    margin: 2rem 0 0 0;
    gap: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 43%;
}
.item img{
  width: 100%;
}
.item .image-txt{
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.4rem;
    text-align: center;
    line-height: 1.25rem;
}
.item .prices{
  color: rgb(83, 94, 94);
  font-size: 0.8rem
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 85%;
  text-align: center;
  margin-top: 1rem;
  line-height: 1.5rem;
}
.footer-details {
  color: #757575;
}
.footer-details:nth-child(1) {
  font-size: 1rem;
}
/*button footer*/
.footer-details:nth-child(2) {
  font-size: 0.8rem;
  background-color: black;
  width: 7.5rem;
  height: 2.5rem;
  padding: 0.4rem 1rem;
  color: white;
  margin: 0.5rem 0 0 0;
}
@media (min-width: 768px) {
  
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-icon:nth-child(1) {
    margin-left: 1.8rem;
    visibility: hidden;
  }
  .category{
      flex-direction: column;
  }
  .category img{
    object-fit: cover;
    height: 20rem;
    visibility: visible;
  }
  .tabs {
    height: 8vh;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
    font-size: 0.9rem;
  }
  .outerwear-txt{
    margin: 1.5rem 0 0 0;
    width: 10rem;
    font-size: 1.2rem;
  }
  .items{
    width: 90%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1440px;

  }
  .item{
    margin-top: 2%;
    width: 25%;
  }
  .item .image-txt{
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  .item .prices{
    margin: -0.5rem 0 0 0;
    font-size: 0.9rem;
  }
}
